<h1>Bounty Activity</h1>








<div id="container-of-box">
    <% HunterContract.last(25).each do |list| %>
<%# <div id="box"> %>

    <ul id="ul_box">
        <li class="ul_li">
<%# <%byebug%> 
<div class="ring-container">
    <div class="ringring"></div>
    <div class="circle"></div>
</div>


        <%= link_to list.hunter.name, hunter_path(list.hunter.id) %>
         has accepted a contract in the amount of 
         <%=list.contract.BountyAmount %>
         against 
        <%= link_to list.contract.name, contract_path(list.contract.id) %>
        </li>
    </ul>
<%# </div> %>
<% end %>
</div>
