<h1>Bounty Activity</h1>

<div id="container-of-box">
    <% HunterContract.last(25).reverse.each do |list| %>
<%# <div id="box"> %>

    <ul id="ul_box">
        <li class="ul_li">
        <%= link_to list.hunter.name, hunter_path(list.hunter.id), {class:'hunterName'} %>
         has accepted a contract in the amount of 
         <span class= bountyAmount><%=list.contract.BountyAmount %></span>
         against 
        <%= link_to list.contract.name, contract_path(list.contract.id), {class:'contractName'} %>
        </li>
    </ul>

<% end %>
</div>
