<h1> Bounty Sign </h1>
<%# <% byebug %>
<h2>Target: <%=@contract.name%></h2>

<%= form_for @hunter_contract do |f| %>
<%= f.label "Select who is signing for this bounty"%>
<%= f.collection_select :contract, Hunter.all, :id, :name %>
<%end%>
