// Place all the styles related to the Contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.drafter {
    color: magenta;
}

.button_to{
    background-color: black;
    display: inline-block;
    align-content: center;
}

.buttons {
    background-color: black;
}