// Place all the styles related to the HunterContracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#box {
      
    background-color: azure;
      font-weight: bolder;
      font-size: large;
      /* background-color: rgb(241, 233, 233); */
      rotate: right;
      text-align: center;

      
      align-content: center;
  }