// Place all the styles related to the HunterContracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img{
  height: 400px;
}

.ul_li{
  background-color: black;
  // text-align: left;
  align-content: left;
}


body{
  // font-family: 'Share Tech Mono', monospace;
}

#container-of-box {
  background-color: black;
  filter: alpha(opacity=60);
  border-radius: 20px;
  border-style: double;
  border-color: turquoise;
}
p {
      
    background-color: azure;
      font-weight: bolder;
      font-size: large;
      // /* background-color: rgb(241, 233, 233); */
      rotate: right;
      text-align: center;
      // align-content: center;
  }
h1{
  text-align: center;
  color: turquoise;
}
  
  
.hunterName {
  color: aliceblue;
  text-decoration: none;
}

.contractName{
  color: tomato;
  text-decoration: none;

}

.bountyAmount{
  color: green;
}

.bio{
  display: flex;
  flex-flow: row wrap;
  width: auto;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.info {
  background-color: black;
  padding: 30px;
  border: 15px turquoise double;
}

.contracts {
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}

.fueding{
  display: flex;
  flex-flow: column wrap;
  margin: 10px;
}